/* line 6, /home/shaq0001/QnA/HU/app/assets/stylesheets/home.scss */
.navbar {
  margin-bottom: 0;
}

/* line 10, /home/shaq0001/QnA/HU/app/assets/stylesheets/home.scss */
.boxes .media {
  border: thin sold #ddd;
  padding: 1em;
  border-radius: 10px;
  background-color: #eee;
  position: relative;
}
/* line 16, /home/shaq0001/QnA/HU/app/assets/stylesheets/home.scss */
.boxes .media .time {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #666;
}
/* line 24, /home/shaq0001/QnA/HU/app/assets/stylesheets/home.scss */
.boxes .media a.btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: #666;
}
/* line 32, /home/shaq0001/QnA/HU/app/assets/stylesheets/home.scss */
.boxes .media:hover {
  cursor: pointer;
  background-color: #ddd;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

